<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Sistema de Registro de Usuarios</display-name>
    <servlet>
        <servlet-name>ConsultaServlet</servlet-name>
        <servlet-class>com.miproyecto.servlets.ConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaServlett</servlet-name>
        <servlet-class>com.miproyecto.servlets.ConsultaServlett</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaServlet</servlet-name>
        <url-pattern>/ConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaServlett</servlet-name>
        <url-pattern>/ConsultaServlett</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
